
    <body>
        <%= render 'header' %>


        <!-- CONTENT -->
        <div id="content" class="clearfix">

            <div id="works" class="clearfix">
                <div class="careers-title work">
                    <li><img src="img/developing.png"> We are Developing</li>
                </div>
                <div class="work-dev">
                    <img src="img/btp.png">
                </div>
                <div class="work-description">
                    <h3>Battlepro</h3>
                    <p>Battlepro is a platform that allows e-sports players around the world to compete against each other for real money in skill games. </p>
                </div>
                <div class="work-dev">
                    <img src="img/turing-large.png">
                </div>
                <div class="work-description">
                    <h3>Turing</h3>
                    <p>Turing is a platform that allows governments to better put to use the information that they generate to improve their performance. </p>
                </div>
            </div><!-- end works -->

            <div id="portfolio">
                
            </div><!-- end portfolio -->

        </div><!-- end content -->



      <%= render 'footer' %>


        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>

        
    </body>

