
    <body>


        <!-- CONTENT -->
        <div id="content" class="clearfix">

            <div id="works" class="clearfix">
                <div class="careers-title work">
                    <li><img src="img/developing.png"> Nuestros desarrollos </li>
                </div>
                <div class="work-dev">
                    <img src="img/btp.png">
                </div>
                <div class="work-description">
                    <h3>Battlepro</h3>
                    <p>Battlepro es una plataforma que permite que jugadores de deportes electronicos a lo largo del mundo puedan competir por dinero real. </p>
                </div>
                <div class="work-dev">
                    <img src="img/turing-large.png">
                </div>
                <div class="work-description">
                    <h3>Turing</h3>
                    <p>La plataforma de Turing les permite a los gobiernos utilizar la informacion que generan mas eficientemente. Permitiendoles reducir costos y alocar activos mas eficientemente. </p>
                </div>
            </div><!-- end works -->


            <div id="portfolio">
                
            </div><!-- end portfolio -->

        </div><!-- end content -->

    
    </body>
</html>
