
	<div class="container-portfolio">
        <div class="careers-title work">
            <li><img src="img/developing.png"> Nuestros desarrollos </li>
        </div>
		<ul id="filters" class="clearfix">
			<li><span class="filter active" data-filter=".all">All</span></li>
			<li><span class="filter" data-filter=".app">App</span></li>
			<li><span class="filter" data-filter=".card">Card</span></li>
			<li><span class="filter" data-filter=".logo">Logo</span></li>
			<li><span class="filter" data-filter=".web">Web</span></li>
		</ul>

		<div id="portfoliolist">
			
			<div class="portfolio logo all" data-cat="logo" data-toggle="modal" data-target=".bs-modal-lg">
				<div class="portfolio-wrapper">				
					<img src="img/work.png" alt="" />
					<div class="label">
						<div class="label-text">
							<a class="text-title">Bird Document</a>
							<span class="text-category">Logo</span>
						</div>
						<div class="label-bg"></div>
					</div>
				</div>
			</div>				

			<div class="portfolio app all" data-cat="app"  data-toggle="modal" data-target=".bs-modal-lg">
				<div class="portfolio-wrapper">			
					<img src="img/work.png" alt="" />
					<div class="label">
						<div class="label-text">
							<a class="text-title">Visual Infography</a>
							<span class="text-category">APP</span>
						</div>
						<div class="label-bg"></div>
					</div>
				</div>
			</div>		
			
			<div class="portfolio web all" data-cat="web">
				<div class="portfolio-wrapper">						
					<img src="img/work.png" alt="" />
					<div class="label">
						<div class="label-text">
							<a class="text-title">Sonor's Design</a>
							<span class="text-category">Web design</span>
						</div>
						<div class="label-bg"></div>
					</div>
				</div>
			</div>				
			
			<div class="portfolio card all" data-cat="card">
				<div class="portfolio-wrapper">			
					<img src="img/work.png" alt="" />
					<div class="label">
						<div class="label-text">
							<a class="text-title">Typography Company</a>
							<span class="text-category">Business card</span>
						</div>
						<div class="label-bg"></div>
					</div>
				</div>
			</div>	
						
			<div class="portfolio app all" data-cat="app">
				<div class="portfolio-wrapper">
					<img src="img/work.png" alt="" />
					<div class="label">
						<div class="label-text">
							<a class="text-title">Weatherette</a>
							<span class="text-category">APP</span>
						</div>
						<div class="label-bg"></div>
					</div>
				</div>
			</div>			
			
			<div class="portfolio card all" data-cat="card">
				<div class="portfolio-wrapper">			
					<img src="img/work.png" alt="" />
					<div class="label">
						<div class="label-text">
							<a class="text-title">BMF</a>
							<span class="text-category">Business card</span>
						</div>
						<div class="label-bg"></div>
					</div>
				</div>
			</div>	
			
			<div class="portfolio card all" data-cat="card">
				<div class="portfolio-wrapper">			
					<img src="img/work.png" alt="" />
					<div class="label">
						<div class="label-text">
							<a class="text-title">Techlion</a>
							<span class="text-category">Business card</span>
						</div>
						<div class="label-bg"></div>
					</div>
				</div>
			</div>	
			
			<div class="portfolio logo all" data-cat="logo">
				<div class="portfolio-wrapper">			
					<img src="img/work.png" alt="" />
					<div class="label">
						<div class="label-text">
							<a class="text-title">KittyPic</a>
							<span class="text-category">Logo</span>
						</div>
						<div class="label-bg"></div>
					</div>
				</div>
			</div>																																							
			
			<div class="portfolio app all" data-cat="app">
				<div class="portfolio-wrapper">			
					<img src="img/work.png" alt="" />
					<div class="label">
						<div class="label-text">
							<a class="text-title">Graph Plotting</a>
							<span class="text-category">APP</span>
						</div>
						<div class="label-bg"></div>
					</div>
				</div>
			</div>														
			
			<div class="portfolio card all" data-cat="card">
				<div class="portfolio-wrapper">			
					<img src="img/work.png" alt="" />
					<div class="label">
						<div class="label-text">
							<a class="text-title">QR Quick Response</a>
							<span class="text-category">Business card</span>
						</div>
						<div class="label-bg"></div>
					</div>
				</div>
			</div>				

			<div class="portfolio logo all" data-cat="logo">
				<div class="portfolio-wrapper">			
					<img src="img/work.png" alt="" />
					<div class="label">
						<div class="label-text">
							<a class="text-title">Mobi Sock</a>
							<span class="text-category">Logo</span>
						</div>
						<div class="label-bg"></div>
					</div>
				</div>
			</div>																	

			<div class="portfolio logo all" data-cat="logo">
				<div class="portfolio-wrapper">			
					<img src="img/work.png" alt="" />
					<div class="label">
						<div class="label-text">
							<a class="text-title">Village Community Church</a>
							<span class="text-category">Logo</span>
						</div>
						<div class="label-bg"></div>
					</div>
				</div>
			</div>													
			
			
		</div>
        
          </div>
        </div>
                
        <div class="modal fade bs-modal-lg modal-lg" tabindex="-1" aria-labelledby="myLargeModalLabel">
          <div class="modal-dialog"  role="dialog" >
            <div class="modal-content" role='document'>
            
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Portfolio Item</h4>
              </div>
              <div class="modal-body">
                
                <h1 class='portfolio-item-title'>Super Work</h1> 
                <p>This is the description to the work that we did. This is the description to the work that we did. This is the description to the work that we did.
                   This is the description to the work that we did. This is the description to the work that we did.</p>
                <div class='portfolio-item-image-list'>
                    <img class='portfolio-item-image' src='img/work.png' />
                    <img class='portfolio-item-image' src='img/work.png' />
                    <img class='portfolio-item-image' src='img/work.png' />
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div> 
	</div><!-- container -->
	
	
	
	
	


