
    <body>

        <!-- CONTENT -->
        <div id="content" class="clearfix">
            
            <div class="careers-title work">
                <li><img src="img/developing.png"> Estamos desarrollando </li>
            </div>
                
            <div id="portfolio">
                <div class="portfolio-item">
                    <img class="portfolio-thumbnail" src="img/work.png" />
                    <div class="portfolio-caption">
                        <p class="portfolio-name">Turing</p>
                        <p class="portfolio-categories">Logo / Web Design</p>
                    </div>
                </div>
                <div class="portfolio-item">
                    <img class="portfolio-thumbnail" src="img/work.png" />
                    <div class="portfolio-caption">
                        <p class="portfolio-name">Turing</p>
                        <p class="portfolio-categories">Logo / Web Design</p>
                    </div>
                </div>
                <div class="portfolio-item">
                    <img class="portfolio-thumbnail" src="img/work.png" />
                    <div class="portfolio-caption">
                        <p class="portfolio-name">Turing</p>
                        <p class="portfolio-categories">Logo / Web Design</p>
                    </div>
                </div>
                <div class="portfolio-item">
                    <img class="portfolio-thumbnail" src="img/work.png" />
                    <div class="portfolio-caption">
                        <p class="portfolio-name">Turing</p>
                        <p class="portfolio-categories">Logo / Web Design</p>
                    </div>
                </div>
                <div class="portfolio-item">
                    <img class="portfolio-thumbnail" src="img/work.png" />
                    <div class="portfolio-caption">
                        <p class="portfolio-name">Turing</p>
                        <p class="portfolio-categories">Logo / Web Design</p>
                    </div>
                </div>
                <div class="portfolio-item">
                    <img class="portfolio-thumbnail" src="img/work.png" />
                    <div class="portfolio-caption">
                        <p class="portfolio-name">Turing</p>
                        <p class="portfolio-categories">Logo / Web Design</p>
                    </div>
                </div>
            </div><!-- end portfolio -->

        </div><!-- end content -->
        
        
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>

        
    </body>

