<!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

         <%= render "header_es" %>


        <!-- CONTENT -->
        <div id="content" class="clearfix">

            <div id="services" class="clearfix">
                <div class="careers-title whyus">
                    <li><img src="img/why-us.png"> ¿Por qué elegirnos?</li>
                </div>

                <div id="filosophy">
                    <div class="corporate">
                        <h2>Corporate Philosophy</h2>
                        <p>Unvil’s purpose is to develop quality solutions that exceed expectations from clients around the world and become the go-to company for businesses that look to develop next generation ground breaking solutions.</br>
                        Unvil’s purpose is to develop quality solutions that exceed expectations from clients around the world and become the go-to company for businesses that look to develop next generation ground breaking solutions.</p>
                        <div class="social-links">
                            <img src="img/social-links.png">
                        </div>
                    </div>
                    <div class="corporate">
                        <img src="img/corporate.png">
                    </div>
                </div><!-- end filosophy -->
            </div><!-- end services -->


            <div class="agile clearfix">
                <div class="careers-title whyus">
                    <li><img src="img/agile-icon.png"> Agile</li>
                </div>
                <div class="agile-container">
                    <div class="agile-left agile-margin">
                        <h3>Lorem Ipsum</h3>
                        <p>Every person at unvil working on your software does it because they love programming and creating new and different solutions every day. We will only deliver products that we’re proud of having mode. </p>
                    </div>
                    <div class="agile-right">
                        <img src="img/agile-img.png">
                        <div class="zoom">
                            <a href=""><img src="img/zoom.png" title="Zoom Image"></a>
                        </div>
                    </div>
                </div><!-- end agile-container -->
                <div class="agile-container">
                    <div class="agile-right agile-margin">
                        <img src="img/agile-img2.png">
                        <div class="zoom">
                            <a href=""><img src="img/zoom.png" title="Zoom Image"></a>
                        </div>
                    </div>
                    <div class="agile-left">
                        <h3>Lorem Ipsum</h3>
                        <p>Every person at unvil working on your software does it because they love programming and creating new and different solutions every day. We will only deliver products that we’re proud of having mode. </p>
                    </div>
                </div><!-- end agile-container -->
            </div><!-- end agile -->



        </div><!-- end content -->


    <%= render 'footer_es' %>