@media (max-width:900px) {
    #content-brand {
    text-align: center;
    width: 30%;
    margin-left: 5%;
    align-self: flex-start;
    }
    #brand {
    width: auto;
    }
    #brand-below {
    font-size: 0.7rem;
    }
    .foot-box {
    float: right;
    margin-right: 0px;
    width: 17%;
    align-self: flex-start;
    }
    .social-net {
    text-align: center;
    }
    .social-net h3 {
    font-size: 1rem;
    }
    .social-box {
    text-align: center;
    width: 40%;
    margin: 5%;
    display: flex;
    justify-content: center;
    height: auto;
    }
    .social-box img {
    width: auto;
    height: auto;
    align-self: center;
    margin: 5%;
    }
    .foot-nav li a {
    font-size: 1rem;
    }
}

@media (max-width:740px) {
    #idioma {
    position:absolute;
    right:0;
    }
    #slogan {
    font-size:2.5rem;
    }
}
@media (max-width:580px) {
    #nav {
    float: none; 
    margin-top: 0; 
    margin-left: 0;
    margin: 6%;
    }
    #figure {
    float: none; 
    width: auto;
    margin-top: 12%;
    }
    #header {
    flex-wrap: wrap;
    }
    #idioma {
    position: absolute;
    right: 0;
    }
    #slogan {
    font-size:1.8rem;
    }
}

@media (max-width:560px) {
    .foot-box {
    width: 24%;
    display: flex;
    justify-content: space-between;
    }
    .social-box {
    width: auto;
    margin: auto;
    }
    .social-net {margin:0;}
    .social-net h3 {
    font-size: 0.8rem;
    }
}
